*{padding:0; margin:0;}
body{
	background: url(http://www.nvbing5.net/demo/nvbing5_n5chengshiv3/template/zhikai_n5chengshiv3/images/v3bg.gif) repeat-x 0 40px;
	font: 12px/1.5 'Microsoft Yahei','Simsun';
	}

.container{ width:1230px;}
.ad{ margin-top:10px; cursor:pointer;}
#header{}
#header .logo{float:left;}
#header .search{padding-top:30px; margin-left:40px; float:left;}
#header .header_ad{ float:right; margin-top:15px;}
.top{
  height: 40px;
  line-height:40px;
  width: 100%;
  background: #f6f6f6 url(../images/topnav_bg.png) repeat-x; 
  }
 .menu{
	 	margin-top:30px;
	   height: 42px;
	   line-height:40px;
	   border-bottom: #009ae2 2px solid;
	}
 .menu ul{ list-style:none; padding:0; margin:0; height:auto; overflow:hidden;}
 .menu ul li { float:left;}
 .menu ul li a{ display:inline-block; color:#009ae2; font-weight: bold; padding: 0 18px; font-size: 16px; text-decoration:none;}
 .menu ul .on a{color:#FFF;background:#009ae2;}
#content{	 
	
	 }
	 
.s_nav{padding-top:5px; height:auto; overflow:hidden;}
.s_nav dl{	float: left;  padding: 10px 0;  height: 70px; margin:0; margin-left: 16px;}
  .s_nav dl dt{float: left;  width: 50px;  height: 50px;  text-indent: -9999em;background:url(../images/mu_portal.png) no-repeat;}
  .s_nav dl dt a{display: block;  width: 50px;  height: 50px;}
   
   .s_nav dl dd{float: left;  height: 50px;}
  .s_nav dl dd a{ float:left; display:block;}
 .s_nav dl dd a span{padding: 0 8px;  height: 25px;  font-size: 14px;  line-height: 25px;}
 
  
  .s_nav dl.nva1{margin-left:0;}
  .s_nav dl.nva1 dt { background-position: 0 3px;}
  .s_nav dl.nva1 dd {  width: 225px;}
  
   .s_nav dl.nva2 dt { background-position: 0 -51px;}
   .s_nav dl.nva2 dd {  width:185px;}
   
    .s_nav dl.nva3 dt { background-position: 0 -108px;}
	.s_nav dl.nva3 dd {  width: 295px;}
	
	 .s_nav dl.nva4 dt { background-position: 0 -163px;}
	.s_nav dl.nva4 dd {  width: 155px;}

.alllink {
  float: right;
  padding: 12px 0 0 0;
}
.alllink a {
  display: block;
  width: 55px;
  height: 44px;
  background: url(../images/mu_portal.png) no-repeat 0 -217px;
 }
.alllink a:hover{
	 background-position: 0 -271px;}

#footer{}
